h1 {
    text-align: center;
    text-decoration-line: none;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: rgba(148, 189, 233, 0.92);
    border: 6px solid rgb(232, 216, 26);
    padding: 15px; 
    width: 50%;
    
}

a:link
{
text-decoration-line:none;
} 

li {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(160, 233, 249);
    border: 2px solid rgb(232, 216, 26);
    padding: 10px; 
    width: 25%;
    height: auto;
}

li:hover {
    text-align: center;
    border-radius: 5px;
    background-color:  rgb(99, 181, 251);
    border: 2px solid rgb(232, 216, 26);;
    padding: 20px; 
    width: 28%;
    height: auto;
}

#cordoba {
    text-align: center;
    border-radius: 25px;
    background-color: rgb(185, 108, 19);
    border-bottom: 2px solid rgb(219, 241, 18);
    padding: 20px; 
    width: 25%;
    height: auto;
    text-decoration: none;
}
